{% if brand == "oneshore" %}
<div id="footer">
	<a href="http://one-shore.com">
		<img src="http://one-shore.com/images/one-shore-logo.png" style="width: 200px">
	</a>
	<div style="font-size: 8pt; float: right;padding-top: 30px; padding-right: 20px">
		&copy; copyright 2013 All rights reserved.
	</div>

</div>
{% endif %}


{% if brand == "intuit" %}
<div id="footer" style="background: white; border-top: 1px solid gray">

	<a href="http://intuit.com">
		<img class="intuitLogo" src="http://http-download.intuit.com/http.intuit/CMO/intuit/press_room/intuit_logos/intuit_blue.gif" style="width: 200px">
	</a>

</div>
{% endif %}

